.services__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
    row-gap: 2.5rem;
}

.services__img {
    width: auto;
    height: 100px;
    margin-bottom: 1.25rem;
}

.services__card {
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    transition: all 0.3s ease-in-out;
}

.services__card:hover {
    transform: translateY(-10px);
}

.services__title{
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
    .services__container {
        grid-template-columns: repeat(2, 330px);
        justify-content: center;
        row-gap: 1.875rem;
    }
}

@media screen and (max-width: 768px) {
    .services__container {
        grid-template-columns: 310px;
    }
}

@media screen and (max-width: 350px) {
    .services__container{
        grid-template-columns: 1fr;
    }  
}
    
